In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-win_amd64.whl (7.8 MB)
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp37-cp37m-win_amd64.whl (905 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.30 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
db = mysql.connector.connect(
host = "localhost",
user = "root",
password = "root123")

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F2A2F7FD48>

In [4]:
mycursor = db.cursor()
mycursor.execute("CREATE DATABASE CRUD")

In [5]:
mycursor = db.cursor()
mycursor.execute("SHOW DATABASES")

In [6]:
for x in mycursor:
    print(x)

('crud',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

CRUD Operations

In [7]:
mycursor = db.cursor()           #create table
mycursor.execute("USE CRUD")

In [10]:
mycursor = db.cursor()
mycursor.execute("CREATE TABLE customer_info (name VARCHAR(210),age INT(2), address VARCHAR(500))")

In [11]:
mycursor = db.cursor()          #read table
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customer_info',)
('employee_info',)

In [13]:
mycursor = db.cursor()         #update table
mycursor.execute("ALTER TABLE customer_info ADD customer_id INT(3) PRIMARY KEY")

In [14]:
mycursor = db.cursor()
mycursor.execute("DESCRIBE customer_info")
for x in mycursor:
    print(x)

('name', b'varchar(210)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('address', b'varchar(500)', 'YES', '', None, '')
('customer_id', b'int', 'NO', 'PRI', None, '')

In [15]:
mycursor = db.cursor()        #delete table
mycursor.execute("DROP TABLE employee_info")

In [16]:
mycursor = db.cursor()
mycursor.execute("SHOW TABLES")

In [17]:
for x in mycursor:
    print(x)

('customer_info',)