In [51]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Shows all possible actions and properties of list**

In [1]:
mylist = ["Mary", "Isabel", 25, 24, False, True]
print(mylist)

['Mary', 'Isabel', 25, 24, False, True]

#Lists
#Ordered and indexed

In [2]:
mylist = ["Mary", "Isabel", 25, 24, False, True]
print(mylist[3])

24

Access items in a list, 
Print the third item of the list

In [3]:
mylist.append("Pavi")
print(mylist)

['Mary', 'Isabel', 25, 24, False, True, 'Pavi']

append() - Add an item to the end of list

In [4]:
mylist.remove("Mary")
print(mylist)

['Isabel', 25, 24, False, True, 'Pavi']

Remove an item from the list

In [11]:
mylist = [37, 1, 25, 24, 56, 23]
mylist.sort(reverse = True)
print(mylist)

[56, 37, 25, 24, 23, 1]

Sort the list in descending order

In [12]:
newlist = mylist.copy()
print(newlist)

[56, 37, 25, 24, 23, 1]

copy()- Make a copy of mylist as newlist

In [14]:
mylist1 = [20,21,22,23]
mylist2 = ["Mary", "Ben", "Amelia", "Bobby"]
mylist3 = ["a", "b", "c"]
mylist = mylist1 + mylist2 + mylist3
print(mylist)

[20, 21, 22, 23, 'Mary', 'Ben', 'Amelia', 'Bobby', 'a', 'b', 'c']

Join or concatenate two or more lists

In [17]:
mylist = [1,2,3,87,56,43,56,33,23,42,13,33,2,7,9,33]
x = mylist.count(33)
print(x)

3

Count()- Number of times 33 appears in the list

In [18]:
x = mylist.index(43)
print(x)

5

Index() - Position of '43' in the list

In [54]:
mylist = ["Samsung", "Apple", "Nokia"]
newlist = ["Redmi", "Oppo", "Vivo"]
mylist.extend(newlist)
print(mylist)

['Samsung', 'Apple', 'Nokia', 'Redmi', 'Oppo', 'Vivo']

Extend() - Add elements in 'newlist' to 'mylist'

In [56]:
mylist.insert(6,"oneplus")
print(mylist)

['Samsung', 'Apple', 'Nokia', 'Redmi', 'Oppo', 'Vivo', 'oneplus']

Insert()- Insert oneplus as 6th element of mylist

In [57]:
mylist.pop(4)
print(mylist)

['Samsung', 'Apple', 'Nokia', 'Redmi', 'Vivo', 'oneplus']

pop() - Remove fourth element of mylist

In [58]:
mylist.clear()
print(mylist)

[]

clear() - Remove all elements from mylist

In [60]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**shows all possible actions of tuples**

In [19]:
mytuple = ("Samsung", "Apple", "Nokia", "Redmi")
print(mytuple)

('Samsung', 'Apple', 'Nokia', 'Redmi')

#Tuples
#Readonly
#Ordered and Indexed

In [20]:
mytuple = (2,2,2,4,2,3,5,6,12,7,3,2,2,8,10,3)
x = mytuple.count(3)
print(x)

3

count() - No of times '3' appears in the tuple

In [21]:
x = mytuple.index(12)
print(x)

8

Index()- Shows the first occurence of '12'

In [62]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**Shows all possible actions and properties of sets.**

In [23]:
myset = {"Mary", "Ben", "Isabel", "Bobby"}
print(myset)

{'Mary', 'Ben', 'Isabel', 'Bobby'}

#Sets
#Unordered and Unindexed

In [24]:
myset.add("Pavi")
print(myset)

{'Mary', 'Bobby', 'Isabel', 'Pavi', 'Ben'}

Add an element to the set

In [26]:
myset.clear()
print(myset)

set()

clear()-Remove all elements in a set

In [33]:
myset = {"Pavi", "Mary", "Aby"}
x = myset.pop()
print(x)

Mary

pop() - Remove a random item from a set

In [35]:
x = {1,2,3}
y = {4,5,3,7}
z = x.union(y)
print(z)

{1, 2, 3, 4, 5, 7}

Returns all items from both sets, duplicates are excluded

In [36]:
myset.remove("Aby")
print(myset)

{'Pavi'}

remove() - Remove an element from the set

In [69]:
myset = {"gems", "snickers", "kitkat"}
chocolates = myset.copy()
print(chocolates)

{'gems', 'snickers', 'kitkat'}

copy() - Make a copy of myset.

In [70]:
myset = {"gems", "snickers", "kitkat"}
newset = {"kitkat", "munch","dairy"}
x = myset.difference(newset)
print(x)

{'gems', 'snickers'}

difference() - Returns items exists only in myset not in newset

In [71]:
myset.discard("gems")
print(myset)

{'snickers', 'kitkat'}

discard() - To remove a specific item

In [72]:
x = myset.intersection(newset)
print(x)

{'kitkat'}

intersection() - shows items in both myset and newset

In [74]:
x = myset.isdisjoint(newset)
print(x)

False

Shows one or more items are present in both sets

In [75]:
x = myset.issubset(newset)
print(x)

False

All items in myset is not present in newset

In [76]:
x = myset.issuperset(newset)
print(x)

False

All items in newset is not present in myset

In [79]:
myset={1,2,3}
newset={11,12,13}
myset.update(newset)
print(myset)

{1, 2, 3, 11, 12, 13}

Insert items from newset into myset

In [81]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**Shows all possible actions of dictionaries**

In [88]:
mydict = {"name":"Pavi", "Birth date":"1999","Place":"Kerala"} 
for k,v in mydict.items():
  print("key = ", k, end=",")
  print(" value = ", v)

key =  name, value =  Pavi
key =  Birth date, value =  1999
key =  Place, value =  Kerala

#Dictionary
#Store data values in key:value pairs

In [38]:
samedict = mydict.copy()
print(samedict)

{'name': 'Pavi', 'Birth date': '1999', 'Place': 'Kerala'}

To copy the dictionary

In [40]:
x = mydict.get("Place")
print(x)

Kerala

Get the value of 'place'

In [48]:
mydict.pop("Place")
print(mydict)

{'name': 'Pavi', 'Birth date': '1999'}

Remove 'place' from dictionary

In [49]:
mydict.clear()
print(mydict)

{}

Remove all elements from dictionary

In [90]:
x = ("name", "age", "place")
y = 20
mydict = dict.fromkeys(x,y)
print(mydict)

{'name': 20, 'age': 20, 'place': 20}

fromkeys() - Returns all keys with a specified value.

In [92]:
mydict = {"name":"Pavi","age":"22", "place":"Kerala"}
bio = mydict.items()
print(bio)

dict_items([('name', 'Pavi'), ('age', '22'), ('place', 'Kerala')])

items() - returns key value pairs

In [93]:
bio = mydict.keys()
print(bio)

dict_keys(['name', 'age', 'place'])

keys() - return the keys in mydict

In [94]:
mydict.popitem()
print(mydict)

{'name': 'Pavi', 'age': '22'}

popitem() - Remove last item from mydict

In [95]:
mydict.update({"gender":"female"})
print(mydict)

{'name': 'Pavi', 'age': '22', 'gender': 'female'}

update()-Insert a new item to dictionary

In [97]:
details = mydict.values()
print(details)

dict_values(['Pavi', '22', 'female'])

values() - returns the values of a dictionary